@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oxygen:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  border-color: #3b3b3b;
  background-color: #000;
  color: #eaeaea;

}


.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}



@layer utilities {

  .flex-center {
  @apply flex items-center justify-center
  }

  .nav-height {
  @apply h-[calc(100vh-60px)]

  }
  .hero-title {
  @apply text-center font-semibold text-3xl text-gray-100 opacity-0 max-md:mb-10
  }
  .hero-shadow {
    filter : drop-shadow( #8ba888 0.5rem 0.5rem 1rem)
  }

  .nav-bar-isopen{
    @apply top-[80px] opacity-75 z-10
  }

  .card{
    @apply flex flex-col md:flex-row flex-center 
  }

  .card-item{
    @apply flex flex-col my-2 p-5 bg-slate-100 text-black  text-wrap md:h-2/3 md:w-1/4 h-3/4 w-2/4 border-solid border-4 text-center rounded-lg md:mx-8 snap-mandatory snap-x 
  }

  .main-proid{
    @apply border-solid border-4 bg-white border-white m-10 snap-center 
  }

  .img-proid{
    @apply w-64 h-64 text-white bg-black m-2 p-2
  }

  .img-proidChild{
    @apply w-64 h-64 bg-opacity-75 blur-sm opacity-30 grayscale
  }

  .info-proid{
    @apply text-black w-64 h-20 border-solid border-y-4 m-2 p-2 border-white opacity-75
  }

  .techNav{
    @apply h-20 w-20 content-center m-5 
  }
 
}

